@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Poppins, system-ui, sans-serif;
}

:root{

    /* --bg-color: #0B1120;
    --vilet: #BD34FE;
    --cyan: #49C7FF;

    --bg-gradient: linear-gradient(to right, var(--cyan),#3a0293 50%, var(--vilet)) ;
    --bg-transparent: rgba(0, 0, 0, 0.5);
    --text-color: #D0ADF0;
    --secundary-txt-color: #b6a6c6;
    --dark-txt-color: #a79cb3;
    --txt-color-inputs: #684985;
    --bg-inputs: #cabad9; */

    
    --color-50: #f0f7fe;
    --bg-inputs: #deecfb;
    --text-color: #c4e0f9;
    --color-300: #9cccf4;
    --title-color: #6dafed;
    --color-500: #4b90e6;
    --color-600: #3674da;
    --color-700: #2d60c8;
    --color-800: #2a4fa3;
    --bg-color-ligth-900: #274481;
    --bg-color: #0f172a;
    --bg-secondary-color: rgba(47, 48, 72, 0.203);

    --bg-gradient: linear-gradient(to right, var(--color-300),
    var(--color-500), var(--bg-color-ligth-900));

    --border: 2px solid rgba(128, 128, 128, 0.176);

}

html{
    font-size: 10px;
}

a{
    color: var(--text-color);
    text-decoration: none;
}

li{
    list-style: none;
}

body {
    font-size: 2rem;
    width: 100%;
    min-height: 100vh;
    background: var(--bg-color);
    /* background: url('./assets/images/bg.webp'); */
    background-position: center;
    background-size: cover;
}

header{
    color: var(--color-700);
    background: var(--bg-color);
    width: 100%;
    height: 80px;
    padding: 0 20px;
    position: sticky;
    top: 0;
    box-shadow: 0 0 1px var(--bg-color-ligth-900);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
}

#check-one{
    display: none;
}

.logo {
    width: 150px;
    height: 80px;
    margin: auto 10px;
}

.logo img{
    width: 100%;
    height: 100%;
    object-fit:contain;
}

.icon-bars, .icon-close{
    cursor: pointer;
}

.icon-close{
    display: none;
}

header .menu {
    display: none;
}

.list-link,
.list-item.icons a svg{
    color: var(--color-500);
    font-weight: bold;
}

main, footer{
    margin: 0 auto;
    text-align: center;
}

header .list{
    height: 50px;
    display: flex;
    gap: 2em;
    justify-content: space-evenly;
    place-items: center;
    padding: 10px 5px 10px 15px;
    border-radius: 50px;
    background: var(--bg-secondary-color);
}

.list-item.icons{
    background: var(--bg-color);
    padding: 10px 20px;
    border-radius: 55px;
}

.list-item.icons,.list-item.icons a {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2em;
}

main{
    padding-top: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 100px;
}

.section {
    margin: 0 20px;
    background: var(--bg-secondary-color);
    padding: 40px;
    box-shadow: 2px 2px 10px var(--bg-transparent);
    border-radius: 8px;
    border: 1px solid rgba(128, 128, 128, 0.176);
}

.personal-info{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 50px;
}

.textos{
    display: flex;
    flex-direction: column;
}

.proffesion{
    color: var(--color-800);
    align-self: flex-end;
}

.textos .cv {
    color: var(--color-500);
    margin: 20px 0;
    align-self: flex-end;
    width: 250px;
    height: 45px;
    font-size: 3rem;
    font-weight: bold;
    text-align: center;
    border-radius: 8px;
    border: 1px solid var(--color-300);
}



.img-container{
    width: 200px;
    height: 200px;
    border-radius: 15%;
    background: url('./assets/images/perfil3.webp');
    background-size: cover;
    background-position: center;
    box-shadow: 2px 2px 100px rgba(0, 255, 255, 0.153); 
}

.txt-gradient{
    /* font-size: max(2em, min(5vw,4em)); */
    font-size: clamp(4rem, 17vw, 8rem);
    font-weight: 900;
    background: var(--bg-gradient);
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
}

.section.about{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 50px;
}

.section.projects{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.section.about p{
    color: var(--title-color);
    font-weight: bold;
    font-size: 2.5rem;
    max-width: 70%;
}

.section-page{
    color: var(--color-700);
    font-size: clamp(4rem, 5vw, 8rem);
    /* text-shadow: 0 0 150px #49C7FF; */
}

.language-logo{
    width: 100px;
    height: 100px;
    display: grid;
    place-items: center ;
}

.language-logo img {
    width: 50%;
    height: 50%;
}

.slider{
    display: flex;
    width: 100%;
    height: auto;
    margin: auto;
    overflow: hidden;
}

.slider .slide-track{
    display: flex;
    animation: scroll 40s linear infinite;
    -webkit-animation: scroll 40s linear infinite;
    width: calc(100px * 30);
}


/* .projects-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 50px;
} */

.projects-content{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 32px;
    place-items: center;
}

.card{
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 300px;
    background: rgba(255, 255, 255, 0.064);
    border-radius: 10px;
    border: var(--border);
}

.card img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}


/* 
.card-img{
    width: 100%;
    height: 400px;
}

.card-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-top-right-radius:10px ;
    border-top-left-radius: 10px;
}

.card-body{
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    border-top: var(--border);
} */

.tools{
    width: 50px;
    padding: 8px;
    position: absolute;
    top: 5px;
    bottom: 5px;
    right: 5px;
    border-radius: 8px;
    padding: 10px;
    background: #0f172abe;
    backdrop-filter: blur(5px);
    border: 1px solid var(--bg-color-ligth-900);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
}

.tool{
    width: 100%;
    height: 34px;
}

.tool img{
    object-fit: contain;
}

.demo{
    position: absolute;
    bottom: 10px;
    left: 10px;
    display: block;
    width: 45px;
    height: 45px;
    background-color: #0f172abe;
    backdrop-filter: blur(5px);
    background-image: url('./assets/icons/play.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 50%;
    border-radius: 100%;
    border: 1px solid var(--bg-color-ligth-900);
    box-shadow: 0 0 3px 0 black;
    transition: all .3s ease-in-out;
}

.demo:hover{
    background-color: var(--bg-color);
}

/* footer */
footer{
    margin-top: 50px;
}
.fields{
    border: none;
    color: var(--color-800);
    display: flex;
    font-weight: bold;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.fields label{
    width: 80%;
}

.fields input{
    height: 35px;
    width: 100%;
}

.fields textarea {
    width: 100%;
    resize: none;
}

.fields input, .fields textarea{

    background: var(--bg-inputs);
    border: none;
    outline: none;
    border-radius: 10px;
    color: var(--title-color);
    font-weight: bold;
    font-size: 1em;
    margin-top: 15px;
    padding: 5px 15px;
    text-overflow: ellipsis;
}

.fields input::placeholder, .fields textarea::placeholder {
    opacity: 0.5; /* Cambia esto al valor deseado (0.0 - 1.0) */
}

.fields input:focus, .fields textarea:focus {
    outline: 2px solid var(--title-color);
}

.fields .btn{
    width: 150px;
    height: 45px;
    border: 1px solid var(--color-300);
    border-radius: 8px;
    background: transparent;
    color: var(--color-500);
    font-weight: bold;
    font-size: 3rem;
}

.list-link:hover{
    color: var(--bg-color-ligth-900);
    text-decoration: underline;
    transition: all 0.2s ease-in-out;
}

.list-item.icons a:hover{
    color: var(--bg-color-ligth-900);
    scale: 1.1;
    transition: all 0.2s ease-in-out;
}

.btn:hover{
    color: var(--bg-color);
   background: var(--bg-color-ligth-900);
   transition: all .2s ease-in-out;
}




.toast{
    font-weight: bold;
    font-size: 2rem;
    padding: 10px;
    color: var(--text-color);
    position: fixed;
    right: 20px;
    top: -500px;
    z-index: 100;
    min-width: 200px;
    width: auto;
    min-height: 50px;
    height: auto;
    background: #090c2c58;
    text-align: center;
    line-height: 50px; /* Centra verticalmente el texto */
    border-radius: 10px;
    border: 1px solid rgb(38, 31, 134);
    box-shadow: 2px 2px 50px #31335e;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    transition: top 0.5s ease-in-out ;
}

.toast.error{
    color: red;
    background: #ea1b6054;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgb(242, 9, 67);
}

.toast.show{
   top: 200px
}


@media (width < 777px){
    .proffesion, .textos .cv{
        align-self:center;
    }
    .toast{
        left: 50%;
        transform: translateX(-50%);
    }

    .section.about p{
        font-size: 1.5rem;
        max-width: 100%;
    }
}

@keyframes scroll {
    from{
        transform: translateX(0);
    }

    to{
        transform: translateX(calc(-100px * 15));
    }
}


@media (width <= 920px){
    header .list{
        border-radius: initial;
        padding-bottom: 100px;
        position: fixed;
        top: 80px;
        right: -100%;
        background:var(--bg-color);
        /* backdrop-filter: blur(5px);
        -webkit-backdrop-filter: blur(5px); */
        height: calc(100vh - 80px);
        width: 50%;
        flex-direction: column;
        align-items: center;
        transition: right 0.2s linear;
    }
    header .menu{
        display: block;
    }


    #check-one:checked ~ .list{
        right: 0;
    }
    
    #check-one:checked ~ .menu .icon-close {
        display: block;
        animation: rotateIcon .2s linear
    }

    #check-one:checked ~ .menu .icon-bars {
        display: none;
    }

    @keyframes rotateIcon {
        0% {
          transform: rotate(0deg);
        }
        100% {
          transform: rotate(180deg);
        }
    }
}


@media (width <= 600px){
    header .list{
        width: 100%;
    }
}
