<div class="flex items-center justify-center mt-4 gap-4 lg:justify-normal lg:order-2">
  <span class=" inline-block h-0 w-[30px] border border-secondary lg:ml-[180px]"></span>
  <span class={`inline-block ${Astro.props.class}`}><slot/></span>
  <span class=" inline-block h-0 w-[30px] border border-secondary lg:hidden"></span>
</div>