---
import SectionTitle from '@/components/SectionTitle.astro'
---
<section class="section text-center mb-6 mt-20">
  <div class="max-w-[1024px] mx-auto p-4 flex flex-col gap-6 mt-4">
  <div class="flex flex-col">
    <SectionTitle class=" text-sm text-primary">
      HELLO
    </SectionTitle>
    <div class="mt-6">
      <a class="uppercase inline-block text-bg-primary text-sm bg-secondary rounded-sm px-4 py-2 hover:outline hover:bg-amber-200 transition-all" href="/cv/cv_en_es.pdf" download="cv_en_es.pdf">Download cv</a>
    </div>
  </div>
  <h1 class="text-4xl md:text-6xl lg:text-8xl text-primary">Software <span class="text-secondary">Web</span></h1>
  <h2 class="text-4xl md:text-6xl lg:text-8xl text-primary">Developer</h2>
  <h2 class="text-xl text-secondary">Kevin Moreno</h2>
  <div class="flex items-center justify-center mt-6 gap-6 md:gap-10 lg:gap-20">
    <div class="">
      <a class="transition-all uppercase inline-block text-bg-primary text-sm bg-secondary rounded-sm px-4 py-2 hover:outline hover:bg-amber-200 w-36" href="https://github.com/KevG1t" target="_blank" rel="noreferrer">GitHub</a>
    </div>
    <div>
      <a class="transition-all uppercase inline-block text-bg-primary text-sm bg-secondary rounded-sm px-4 py-2 hover:outline hover:bg-amber-200 w-36" href="https://www.linkedin.com/in/kevin-corrales-44a9731aa/" target="_blank"
      rel="noreferrer">LinkedIn</a>
    </div>
  </div>
</div>
</section>