---
import SectionTitle from '../components/SectionTitle.astro'
---
<section class="section bg-bg-secondary p-6" id="projects">
  <div class="max-w-[1024px] mx-auto">
    <SectionTitle class="text-2xl text-secondary font-bold">
      Projects
    </SectionTitle>
    <div class="flex flex-col gap-6 mt-4">
      <div class="grid grid-cols-1 md:grid-cols-2 gap-4 justify-center items-center border-b-4 border-bg-primary py-14 md:p-0">
        <img  class=" 0" style="ba" src="../../public//img/ecommerce.webp" alt="ecommerce de productos varios">               
        <div class="flex flex-col gap-4">
          <h3 class="uppercase text-base font-bold text-primary text-center md:text-left">ECOMMERCE</h3>
          <div class="flex gap-4 justify-center md:justify-start">
            <a class="transition-all uppercase inline-block text-bg-primary text-sm bg-secondary rounded-sm px-4 py-2 hover:outline hover:bg-amber-200 w-fit" href="https://github.com/KevG1t/e-commerce-react" target="_blank" rel="noreferrer">Code</a>
            <a class="transition-all uppercase inline-block text-bg-primary text-sm bg-secondary rounded-sm px-4 py-2 hover:outline hover:bg-amber-200 w-fit" href="https://e-commerce-react-chi-ruby.vercel.app/" target="_blank" rel="noreferrer">Demo</a>
          </div>
          <p class="text-sm text-primary text-balance text-center md:text-left">In this project I tested my knowledge in TypeScript and global state management.</p>
        </div>
      </div>
      <div class="grid grid-cols-1 md:grid-cols-2 gap-4 justify-center items-center border-b-4 border-bg-primary py-14 md:p-0">                
        <img class="md:order-2" src="../../public//img/movies.webp" alt="ecommerce de productos varios">
      <div class="flex flex-col gap-4">
        <h3 class="uppercase text-base text-center md:text-right font-bold text-primary">SEARCH MOVIES</h3>
        <div class="flex gap-4 justify-center md:justify-end">
          <a class="transition-all uppercase inline-block text-bg-primary text-sm bg-secondary rounded-sm px-4 py-2 hover:outline hover:bg-amber-200 w-fit" href="https://github.com/KevG1t/Movies_Search" target="_blank" rel="noreferrer">Code</a>
          <a class="transition-all uppercase inline-block text-bg-primary text-sm bg-secondary rounded-sm px-4 py-2 hover:outline hover:bg-amber-200 w-fit" href="https://kevg1t.github.io/Movies_Search/" target="_blank" rel="noreferrer">Demo</a>
        </div>
        <p class="text-sm text-primary text-balance text-center md:text-right">With this project I tested my knowledge of hooks and learned how to create a debounce for search engines.</p>
      </div>
    </div>
    <div class="grid grid-cols-1 md:grid-cols-2 gap-4 justify-center items-center border-b-4 border-bg-primary py-14 md:p-0">        
      <img class="" src="../../public//img/quizz.webp" alt="ecommerce de productos varios">
    <div class="flex flex-col gap-4">
      <h3 class="uppercase text-base text-center md:text-left font-bold text-primary">Quizz</h3>
      <div class="flex gap-4 justify-center md:justify-start">
        <a class="transition-all uppercase inline-block text-bg-primary text-sm bg-secondary rounded-sm px-4 py-2 hover:outline hover:bg-amber-200 w-fit" href="https://github.com/KevG1t/JavaScriptQuizz" target="_blank" rel="noreferrer">Code</a>
        <a class="transition-all uppercase inline-block text-bg-primary text-sm bg-secondary rounded-sm px-4 py-2 hover:outline hover:bg-amber-200 w-fit" href="https://kevg1t.github.io/JavaScriptQuizz/" target="_blank" rel="noreferrer">Demo</a>
      </div>
      <p class="text-sm text-primary text-balance text-center md:text-left">A simple project where I tested the Zustand global state manager.
      </p>
    </div>
  </div>
  <div class="grid grid-cols-1 md:grid-cols-2 gap-4 justify-center items-center py-14 md:p-0">        
    <img class="md:order-2" src="../../public//img/tt.webp" alt="ecommerce de productos varios">
  <div class="flex flex-col gap-4">
    <h3 class="uppercase text-base text-center md:text-right font-bold text-primary">TIC TAC TOE ONLINE</h3>
    <div class="flex gap-4 justify-center md:justify-end">
      <a class="transition-all uppercase inline-block text-bg-primary text-sm bg-secondary rounded-sm px-4 py-2 hover:outline hover:bg-amber-200 w-fit" href="https://github.com/KevG1t/tic-tac-toe-online" target="_blank" rel="noreferrer">Code</a>
      <a class="transition-all uppercase inline-block text-bg-primary text-sm bg-secondary rounded-sm px-4 py-2 hover:outline hover:bg-amber-200 w-fit" href="https://tic-tac-toe-online-nine.vercel.app/" target="_blank" rel="noreferrer">Demo</a>
    </div>
    <p class="text-sm text-primary text-balance text-center md:text-right">In this project I put all my knowledge about React and Node JS to the test on the backend side where I created an API with socket io.</p>
  </div>
</div>
    </div>
  </div>
</section>